<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="seleniumBaseUrl" value="https://domain.hinet.net" />
    <add key="seleniumHub" value="http://localhost:4444/wd/hub" />
    <add key="browser" value="" />
    <add key="platform" value="" />
  </appSettings>
</configuration>